@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abuget";
  src: url('../assets/fonts/Abuget.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Apalu";
  src: url('../assets/fonts/apalu/Apalu.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arkipelago";
  src: url('../assets/fonts/Arkipelago/Arkipelago.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fake";
  src: url('../assets/fonts/fake-serif/Fake.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Silhouetto-Script";
  src: url('../assets/fonts/Silhouetto-Script/Silhouetto-Script.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.active {
  color: #006c32 ;
  font-weight: bold;
}
.active-landing {
  color: #006c32 ;
  font-weight: 900;
}
.col-evenly-center{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  float: left;
  padding: 0 0 !important;
  opacity: .7;
}

/* #gallery>.image-gallery{
  display: flex;
}
#gallery>.image-gallery>.image-gallery-content{
  align-self: center;
} */
/* 
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
} */

/* youtube carousel */
.carousel .slide iframe{
  width: 93% !important;
  margin: 0 !important;
}

/* animate.css */
.animate__animated.animate__slower{
    -webkit-animation-duration: calc(1s * 7) !important;
    animation-duration: calc(1s * 7) !important;
    -webkit-animation-duration: calc(var(--animate-duration) * 7) !important;
    animation-duration: calc(var(--animate-duration) * 10) !important;
}


.iphone-frame {
    background: url(/static/images/bg/iphone.png);
    background-size: 290px 515px;
    width: 290px;
    height: 515px;
    background-repeat: no-repeat;
  }
  video{
  z-index: -1;
  top: 14px;
  border-radius: 20px;
  height: 485px;
    position: absolute;
    right: 0;
    left: 8px; 
  }
.ig-frame {
  border: 1px solid black;
        background: url(/static/images/bg/ig.png);
        background-size: 312px 428px;
    width: 310px;
    height: 428px;
        background-repeat: no-repeat;
}
.slick-dots li{
  margin: 0 !important;
}

/* react-slick */
@media (max-width: 576px) { 
  .slick-dots {
      bottom: -40px !important;
  }
 }

 .my-input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
